<h4>Wojciech Poniewierka 402224 EAIiIB AiR AGH</h4>

<h1>Laboratorium 3</h1>

Import potrzebnych bibliotek i nawiązanie połączenia z baza danych:

In [5]:
import psycopg2 as pg
import pandas as pd

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, 
                        dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

Zadanie 1. 
<br/><br/>
Ile kategorii filmów mamy w wypożyczalni?

In [16]:
query = 'SELECT DISTINCT name FROM category'

df = pd.read_sql(query,con=connection)
print(df)
print(f'Ilość różnych kategorii: {len(df)}')

           name
0        Comedy
1         Drama
2        Horror
3        Sci-Fi
4      Classics
5       Foreign
6         Games
7           New
8        Travel
9        Action
10        Music
11  Documentary
12       Sports
13    Animation
14     Children
15       Family
Ilość różnych kategorii: 16

Zadanie 2. 
<br/><br/>
Wyświetl listę kategorii w kolejności alfabetycznej.

In [19]:
query = 'SELECT DISTINCT name FROM category ORDER BY name'

df = pd.read_sql(query,con=connection)
print(df)

           name
0        Action
1     Animation
2      Children
3      Classics
4        Comedy
5   Documentary
6         Drama
7        Family
8       Foreign
9         Games
10       Horror
11        Music
12          New
13       Sci-Fi
14       Sports
15       Travel

Zadanie 3. 
<br/><br/>
Znajdź najstarszy i najmłodszy film do wypożyczenia.

In [25]:
query = 'SELECT title FROM film WHERE release_year = (SELECT MIN(release_year) from film) LIMIT 1'

df = pd.read_sql(query,con=connection)
print("Najmłodszy film:")
print(df)


query = 'SELECT title FROM film WHERE release_year = (SELECT MAX(release_year) from film) LIMIT 1'

df = pd.read_sql(query,con=connection)
print('\nNajstarszy film:')
print(df)

Najmłodszy film:
             title
0  Chamber Italian

Najstarszy film:
             title
0  Chamber Italian

Zadanie 4. 
<br/><br/>
Ile wypożyczeń odbyło się między 2005-07-01 a 2005-08-01?

In [33]:
query = "SELECT COUNT(*) FROM rental WHERE rental_date BETWEEN '2005-07-01' AND '2005-08-01'"

df = pd.read_sql(query,con=connection)
print(df)

   count
0   6709

Zadanie 5. 
<br/><br/>
Ile wypożyczeń odbyło się między 2010-01-01 a 2011-02-01?

In [35]:
query = "SELECT COUNT(*) FROM rental WHERE rental_date BETWEEN '2010-01-01' AND '2011-02-01'"

df = pd.read_sql(query,con=connection)
print(df)

   count
0      0

Zadanie 6. 
<br/><br/>
Znajdź największą płatność wypożyczenia.

In [37]:
query = "SELECT MAX(amount) FROM payment"

df = pd.read_sql(query,con=connection)
print(df)

     max
0  11.99

Zadanie 7. 
<br/><br/>
Znajdź wszystkich klientów z Polski, Nigerii lub Bangladeszu.

In [ ]:
query = "SELECT * FROM customer WHERE adress_id"

df = pd.read_sql(query,con=connection)
print(df)